/* navigation */

nav ul li:nth-child(3) a::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  width: 100%;
  border-bottom: 0.3rem solid var(--black-color);
  border-radius: 2rem;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}

main {
  padding-bottom: 10vh;
}

.section1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.options {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.options p {
  width: 60%;
  text-align: center;
  font-size: clamp(1.5rem, 1.4rem + 1vw, 10rem);
  font-family: var(--primary-font);
  color: var(--black-color);
}

.options button {
  margin: 0;
  margin-top: 2rem;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.options img {
  width: 3.5rem;
  padding: 0.5rem;
  background-color: var(--gray-color);
  border-radius: 1rem;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.card {
  padding-top: 2rem;
  width: 90%;
}

.card p {
  font-size: clamp(1.5rem, 1.4rem + 1vw, 10rem);
  color: var(--black-color);
  text-align: center;
}

.card img {
  border-radius: 2rem;
}

.details {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.details img {
  width: 3rem;
}

/* both */
@media screen and (min-width: 768px) {
  .options {
    margin-bottom: 0;
    height: 20vh;
    padding: 0 var(--padding-var);
    flex-direction: row;
    align-items: center;
  }

  .options p {
    text-align: left;
    width: 40%;
  }

  .options button {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cards {
    padding: var(--padding-var);
    height: 50vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    position: relative;
  }

  .card {
    padding-top: 0;
    width: 16rem;
    height: 16rem;
  }

  .card > img {
    width: 16rem;
    height: 16rem;
  }
}
