/* navigation */

nav ul li:nth-child(2) a::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  width: 100%;
  border-bottom: 0.3rem solid var(--black-color);
  border-radius: 2rem;
}

.section1 {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.background-img {
  height: 80%;
  width: 100%;
  background-image: url("../img/about2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.details-mob {
  text-align: center;
  padding-top: 4rem;
  font-family: var(--primary-font);
  font-size: clamp(1.5rem, 1.5rem + 3vw, 10rem);
}

.details-desk {
  display: none;
}

.background-img p {
  text-align: center;
  padding-top: 1rem;
  font-family: var(--primary-font);
  font-size: clamp(1.5rem, 1.5rem + 3vw, 10rem);
}

.section2 {
  height: 90vh;
  padding: 2rem var(--padding-var);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section2 img {
  height: clamp(16rem, 16rem + 20vw, 30rem);
}

.section2 p {
  font-size: clamp(0.3rem, 0.3rem + 3vw, 1.2rem);
  text-align: center;
  padding-top: 2rem;
}

/* both */
@media screen and (min-width: 768px) {
  .background-img {
    background-image: url("../img/about1.jpg");
    background-position: top center;
    height: 70%;
    width: calc(100% - var(--padding-var) * 2);
    padding: 0 var(--padding-var);
  }

  .background-img > p {
    display: none;
  }

  .details-mob {
    display: none;
  }

  .details-desk {
    padding-top: 1rem;
    width: calc(100% - var(--padding-var) * 2);
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-family: var(--primary-font);
    color: var(--black-color);
    font-size: clamp(1.5rem, 1.5rem + 3vw, 10rem);
  }

  .title {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .details-desk > p {
    display: flex;
    align-items: center;
    width: 40%;
    font-family: var(--secondary-font);
    font-size: var(--font-size-large);
  }

  .section2 {
    flex-direction: row;
    justify-content: space-between;
  }
  .section2 p {
    font-size: clamp(0.3rem, 0.3rem + 3vw, 1.4rem);
    text-align: left;
    width: 50%;
  }
}
